{% extends "layout.html.twig" %}
{% block title %}
    Home
{% endblock %}
{% block navigation %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Bruiloft gasten app</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur, risus viverra molestie blandit, mi arcu semper diam, quis dictum nulla tellus sit amet ex. Nam sit amet augue maximus libero gravida gravida. Proin dapibus molestie urna, vel placerat velit sagittis eget. Etiam luctus id massa eu tincidunt. Morbi feugiat enim mattis porta tempor. In in dui in arcu imperdiet elementum id ut elit. Maecenas sagittis consequat neque, vel varius diam fringilla in.</p>
            <p>Sed quis ex vitae elit fermentum pretium. Pellentesque laoreet mollis porta. Maecenas sit amet odio est. Fusce vulputate lorem facilisis lorem mattis, nec feugiat ipsum dignissim. Quisque vel iaculis mauris, ut ullamcorper ex. Proin in tristique magna. Phasellus mattis turpis diam. Praesent ut aliquet leo. Aenean a consectetur massa, a porta ex. Ut fermentum, enim non posuere eleifend, sapien diam sodales libero, ut fringilla quam neque et massa. Nunc auctor neque leo.</p>
            <p>Donec interdum nibh eget suscipit mattis. Morbi efficitur finibus tempor. Quisque eu convallis sem. Vestibulum feugiat sem et aliquet molestie. Duis dolor mauris, sagittis at rhoncus sit amet, elementum eu orci. Aliquam at gravida sem. Sed varius sapien ac felis venenatis euismod. Duis vel feugiat lectus. Nullam convallis placerat mauris, vitae lacinia est luctus quis. Sed sed tempus lacus. Donec feugiat tellus vitae turpis volutpat, congue porta dui sodales. Integer accumsan tortor nunc, a viverra urna aliquam ut. Proin elementum luctus neque et auctor. In pharetra at neque sit amet varius.</p>
        </div>
        <div class="col-sm-6">
            <p>Mauris placerat metus nisl, in aliquam ante volutpat eget. Aliquam at elit consequat, ullamcorper urna eget, ornare sapien. Maecenas aliquam, felis quis sodales finibus, mauris metus cursus purus, pretium vehicula nisi nisi volutpat tortor. Ut finibus, lorem sit amet sagittis condimentum, ligula ante suscipit lacus, ac gravida nunc lorem nec magna. Mauris sit amet commodo justo. Nullam ut sapien at mi iaculis tempus. Nunc eget justo eu massa imperdiet ultricies id et elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eget nisl leo. Sed bibendum tempor mi sed commodo.</p>
            <p>Integer non quam quis risus mollis consectetur. Nulla in quam ut ante suscipit gravida vel sit amet mauris. Nunc a libero sed libero maximus pharetra. Ut lacinia sapien sit amet velit ultricies, sed pulvinar nulla eleifend. Ut hendrerit consectetur arcu, sed aliquam velit lobortis ut. Curabitur orci enim, pretium vitae ullamcorper vel, viverra in ante. Aenean non viverra sem, at condimentum odio. Vivamus ut nisl nulla. Pellentesque lectus purus, blandit ut mi sed, tincidunt volutpat erat. Vestibulum non arcu sodales, faucibus nisl at, malesuada sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed molestie varius lorem, in aliquet tortor semper eget. Duis luctus ligula sed ante porta, a bibendum diam venenatis. Aenean ac finibus diam, in vehicula ligula. Nam posuere risus vel ante mollis, quis tempus augue semper.</p>
        </div>
    </div>
{% endblock %}
