{% extends "layout.html.twig" %}
{% block title %}
    Gast toevoegen
{% endblock %}
{% block navigation %}
    {{ parent() }}
{% endblock %}
{% block content %}
<form action="#" method="post">
    {{ form_widget(form)}}
</form>
{% endblock %}
